<a href="https://colab.research.google.com/github/sorajin485/JavaPKI/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [0]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
matplotlib.rcParams['font.family'].insert(0, 'Malgun Gothic')

In [3]:
df1 = DataFrame([
                                [1,2,3],
                                ['kim','park','lee'],
                                [1.5, 3.2, 9.1]
                           ])
df1

     0     1    2
0    1     2    3
1  kim  park  lee
2  1.5   3.2  9.1